name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Dark Mode
            dist/snake.svg?color_snake=#0891b2&color_dots=#2d2d2d,#155e75,#0891b2,#22d3ee,#67e8f9&bg_color=#1c1917
            
            # Light Mode
            dist/snake-light.svg?color_snake=#0891b2&color_dots=#ebedf0,#cffafe,#22d3ee,#0891b2,#155e75&bg_color=#ffffff

      - name: Push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
